* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

html, body {
    width: 100vw;
    height: 100vh;
    
    background: #202124;
    color: #fff;
    
    box-sizing: border-box;
    
    font-family: 'Roboto',Helvetica,Arial,sans-serif;
    
    overflow: hidden;
    
}



/* Font style setting */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

/* The body contains <section> and <footer> only. */

/* <section> */
section { 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: calc(100vh - 71.36px); 
}

/* Mute icons */
.mute-icon.mute-icon.material-icons { 
    width: 15px;
    height: 15px;

    background: transparent;
    
    font-size: 15px; 

    position: absolute; 
}

.mute-icon.mute-icon.material-icons:hover { cursor: default; }
.mute-icon.mute-icon.material-icons::selection { background: transparent; }

/* Member icons */
.member-icon {
    border-radius: 50%;
    position: absolute;
}

/* Member control buttons */
.member-control {
    width: 120px;
    height: 40px;

    border-radius: 16.67%/50%;
    background: #3c4043;
    
    opacity: 0;
    transition: opacity 0.7s;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.anchored-member:hover .member-control { 
    opacity: 0.5;
    transition: opacity 0.7s;
}
.member-container:hover .member-control {
    opacity: 0.5;
    transition: opacity 0.7s;
}
.anchored-member:hover .member-control:hover { 
    opacity: 0.8;
    transition: opacity 0.7s;
}
.member-container:hover .member-control:hover {
    opacity: 0.8;
    transition: opacity 0.7s;
}

.member-control-button {
    width:40px;
    height: 40px;
    border-radius: 50%;

    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.member-control-button:hover {
    background: hsl(205.71,5.51%,27.9%); /* lightness increases by 3% */
}
.member-control-button .description {
    opacity: 0;
    transition: opacity 0.5s;
    position: absolute;
    top: 42px;
}
.member-control-button:hover .description {
    opacity: 1;
    transition: opacity 0.5s; 
}

#unpin-anchored-member img,
.pin-unanchored-member img {
    width: 22px;
    height: 22px;
    filter: invert();
}
#unpin-anchored-member img::selection,
.pin-unanchored-member img::selection { background: transparent; }

#unmute-anchored-member:hover,
.unmute-unanchored-member:hover {
    background: inherit;

    cursor: default;
}
#unmute-anchored-member span,
.unmute-unanchored-member span {
    color: #828489;

    font-size: 22.5px;
}#unmute-anchored-member span::selection,
.unmute-unanchored-member span::selection { background: transparent; }

#kick-anchored-member span,
.kick-unanchored-member span {
    color: #fff;
    font-size: 22px;
}
#kick-anchored-member span::selection,
.kick-unanchored-member span::selection { background: transparent; }

.member-name {
    background: transparent;
    
    font-size: 13px; 

    display: block; 

    position: absolute;
}
.member-name:hover { cursor: default; }
.member-name::selection { background: transparent; }
 
/* description of buttons*/

.description {
    border: solid #3c4043;
    border-width: 2px 8px;
    padding-top: 2px;

    white-space: nowrap;

    font-size: 12px;
    transform: scale(0.92);

    border-radius: 5px;
    background: #3c4043;
    
    opacity: 0;
    transition: opacity 0.5s;

    position: absolute;

    cursor: default;
}
.description::selection { background: transparent; }

/* Anchored member block */
.anchored-member {
    width: 72vw;
    height: calc(100vh - 71.36px);

    position: relative;
}

.anchored-member .mute-icon.material-icons { 
    left: 100%;
    transform: translate(-200%, 150%); 
}

.anchored-member .member-icon {
    width: 145px;
    height: 145px;
    background-size: 145px 145px;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#pin {
    width: 21.6px;
    height: 21.6px;

    margin-right: 0.8em;

    fill: #fff; 

    position: absolute;
    top: 100%;
    transform: translate(100%, -150%);
}

.anchored-member .member-name {
    top: 100%;
    transform: translate(55.2px, -29.6px);
}

/* Unanchored member block */

.unanchored-members {
    width: 28vw;
    height: calc(100vh - 71.36px);

    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.member-container {
    width: 13vw;
    height: 11vw;
    margin: 5px;

    background: #3c4043;
    border-radius: 8px;
}

#bigger-width-container { width: 19vw; }

.member-container .mute-icon-container { 
    width: 22px;
    height: 22px;
    
    background: #34373a;
    border-radius: 50%;

    position: absolute;
    transform: translate(calc(13vw - 150%), 50%); 
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#bigger-width-container .mute-icon-container { transform: translate(calc(19vw - 150%), 50%); }

.member-container .member-icon {
    width: 3.8vw;
    height: 3.8vw;

    background-size: 3.8vw 3.8vw;
    
    transform: translate(calc(6.5vw - 50%), calc(5.5vw - 50%));
}

#bigger-width-container .member-icon {
    width: 5.8vw;
    height: 5.8vw;
    background-size: 5.8vw 5.8vw;

    transform: translate(calc(9.5vw - 50%), calc(5.5vw - 50%));
}

.member-container .member-name {
    width: 11vw;
    transform: translate(1vw, 9.2vw);
}

#bigger-width-container .member-name {
    width: 17vw;
    transform: translate(1vw, 9.2vw);
}

/* <footer> */

footer {
    height: 71.36px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Time and meeting code*/
.time_and_meeting-code {
    height: 100%;
    padding-left: 1.5em;
    
    font-size: 14px;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#time:hover { cursor: default; }
#time::selection { background: transparent; }

#shorten-meeting-code { display: none; }

/* Control buttons */
.control-buttons {
    min-width: 250px;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.control-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.control-button input {
    visibility: hidden;
    position: absolute;
}

.control-button label {
    width: 35px;
    height: 35px;
    margin: 6px;

    border-radius: 50%;
    
    background: #3c4043;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.control-button label[for="hang-up-button"] {
    width: 50px;
    border-radius: 35%/50%;
}

.on-off-control-button input:checked + label { background: #ea4335; }

.control-button label:hover { cursor: pointer; }
.control-button label:hover { background: hsl(205.71,5.51%,27.9%); /* lightness increases by 3% */ }
.on-off-control-button input:checked + label:hover,
#hang-up-button + label:hover{ background: hsl(4.64,81.17%,58.27%); /* lightness increases by 2% */ }

.control-button span {
    background: transparent;

    font-size: 18px;
    text-align: center;

    position: relative;
    top: 1px;
}

.control-button .description { bottom: 57px; }

.control-button label:hover + p { 
    opacity: unset;
    transition: opacity 0.5s; 
}
.control-button input:checked + label:hover + p + p {
    opacity: 1;
    transition: opacity 0.5s; 
}

.control-button span::selection{ background: transparent; }

.control-button input:checked + label .control-button-on { display: none; }
.control-button input + label .control-button-off { display: none; }
.control-button input:checked + label .control-button-off { display: unset; }
.control-button input + label .control-button-on { display: unset; }

#screen-share-button + label span, 
#more-option-button + label span,
#hang-up-button + label span  {
    font-size: 22px;
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
}

#hang-up-button + label { background: #ea4335; }

/* Utility buttons */

.utility-buttons {
    min-width: 190px;
    height: 100%;

    padding-right: 1em;

    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
}

.utility-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.utility-button input {
    visibility: hidden;
    position: absolute;
}

.utility-button label {
    width: 41px;
    height: 41px;
    margin: 1px;

    border-radius:  50%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.utility-button label:hover {
    background: hsl(225,5.88%,16.33%); /* lightness increases by 3% */
    cursor: pointer;
}

.utility-button span {
    /*/position: relative;
    top: 1px;*/
    background: transparent;

    text-align: center;
    font-size: 20px;
    
    position: relative;
    top: 0.5px;

    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
}

.utility-button .description {
    opacity: 0;
    transition: opacity 0.5s;
    bottom: 57px;
}

.utility-button label:hover + p { 
    opacity: 1;
    transition: opacity 0.5s; 
}

.utility-button-on {color: #8ab4f8; }

#activities-button + label .utility-button-on { 
    top: 1.5px;
    font-size: 23px;
}

#chat-button + label .utility-button-on {
    font-size: 21px;
}

#show-members-button + label span {
    font-size: 22px;
}

#people-count-sign {
    width: 16px;
    height: 16px;

    background: #5f6368;
    border-radius: 50%;

    position: absolute;
    translate: 10px -2px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#people-count {
    position: absolute;
    left: 4px;

    font-size: 12px;
    transform: scale(0.83);
    font-weight: bold;

    cursor: default;
}

#info-button + label span {
    font-size: 21.5px;
}

.utility-button span::selection{ background: transparent; }

.utility-button input:checked + label .utility-button-off { display: none; }
.utility-button input + label .utility-button-on { display: none; }
.utility-button input + label .utility-button-off { display: unset; }
.utility-button input:checked + label .utility-button-on { display: unset; }

/* RWD */
@media (max-width: 1500px), (max-height: 690px) { #time { display: none; }}
@media (max-height: 585px) { 
    .anchored-member { width: calc(100vw - 570px); }
    .unanchored-members { 
        width: 570px;
    }
    .member-container, 
    #bigger-width-container {
        width: 47vh;
        height: 27vh;
    }
    .member-container .mute-icon-container,
    #bigger-width-container .mute-icon-container { transform: translate(calc(47vh - 150%), 50%); }
    .member-container .member-icon,
    #bigger-width-container .member-icon{
        width: 15vh;
        height: 15vh;
        background-size: 15vh 15vh;
        transform: translate(calc(23.5vh - 50%), calc(13.5vh - 50%));
    }
    .member-container .member-name,
    #bigger-width-container .member-name {
        width: 25vh;
        transform: translate(2vh, 22.5vh);
    }
}
@media ((max-width: 1300px) and (min-height: 650px)), ((max-width: 1025px) and (max-height: 475px)) {
    .anchored-member { width: calc(100vw - 234px); }
    .unanchored-members { 
        width: 234px;
    }
    .member-container, 
    #bigger-width-container {
        width: 29vh;
        height: 16vh;
    }
    .member-container .mute-icon-container,
    #bigger-width-container .mute-icon-container { transform: translate(calc(29vh - 150%), 50%); }
    .member-container .member-icon,
    #bigger-width-container .member-icon{
        width: 8vh;
        height: 8vh;
        background-size: 8vh 8vh;
        transform: translate(calc(14.5vh - 50%), calc(8vh - 50%));
    }
    .member-container .member-name,
    #bigger-width-container .member-name {
        width: 25vh;
        transform: translate(2vh, 12vh);
    }
}
@media (max-width: 1025px) and (min-height: 475px) {
    section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .anchored-member { 
        width: 100vw; 
        height: calc(100vh - 71.36px - 15vw);
    }
    .unanchored-members { 
        width: 100vw;
        height: 15.5vw;
    }
    .member-container, 
    #bigger-width-container {
        width: 18.5vw;
        height: 15.5vw;
    }
    .member-container .mute-icon-container,
    #bigger-width-container .mute-icon-container { transform: translate(calc(18.5vw - 150%), 50%); }
    .member-container .member-icon,
    #bigger-width-container .member-icon{
        width: 5.5vw;
        height: 5.5vw;
        background-size: 5.5vw 5.5vw;
        transform: translate(calc(9.25vw - 50%), calc(7.25vw - 50%));
    }
    .member-container .member-name,
    #bigger-width-container .member-name {
        width: 16.5vh;
        transform: translate(2vw, 12.5vw);
    }
    #pin {
        width: 21.6px;
        height: 21.6px;
    
        margin-right: 0.8em;
    
        fill: #fff; 
    
        position: absolute;
        top: 100%;
        transform: translate(100%, -200%);
    }
    .anchored-member .member-name {
        top: 100%;
        transform: translate(55.2px, -39.6px);
    }
    @media (max-width: 800px) {
        .anchored-member { 
            width: 100vw; 
            height: calc((100vh - 71.36px) * 54 / 90);
        }
        .unanchored-members { 
            width: 100vw;
            height: calc((100vh - 71.36px) * 36 / 90);
        }
        .member-container, 
        #bigger-width-container {
            width: 29vh;
            height: 16vh;
        }
        .member-container .mute-icon-container,
        #bigger-width-container .mute-icon-container { transform: translate(calc(29vh - 150%), 50%); }
        .member-container .member-icon,
        #bigger-width-container .member-icon{
            width: 8vh;
            height: 8vh;
            background-size: 8vh 8vh;
            transform: translate(calc(14.5vh - 50%), calc(8vh - 50%));
        }
        .member-container .member-name,
        #bigger-width-container .member-name {
            width: 25vh;
            transform: translate(2vh, 12vh);
        }
    }
    @media (max-width: 605px) {
        .anchored-member { 
            width: 100vw; 
            height: calc((100vh - 71.36px) * 36 / 90);
        }
        .unanchored-members { 
            width: 100vw;
            height: calc((100vh - 71.36px) * 54 / 90);
        }
    }
    @media (max-width: 600px) {
        #meeting-code {display: none;}
        #shorten-meeting-code{ display: unset; }
    }
}